.Section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

  .section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  img {
    width: 100px;
    height: 100px;
    opacity: 0.7;
  }

  .div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  button {
    background-color: #007bb5;
    width: 150px;
    padding: 5px;
    border-radius: 4px;
    border: none;
  }

  button:hover {
    background-color: rgba(1, 1, 116, 0.871);
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .Section {
    .section {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .div {
        .img {
          display: flex;
          object-fit: cover;
          height: 200px;
          width: 400px;
        }
        .data {
          display: flex;
          gap: 40px;
          position: absolute;
          padding: 10px;
          color: white;
        }
        button {
          color: white;
        }
      }
    }
  }
}
