.Section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

  .section {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  button {
    width: 150px;
    padding: 10px;
    border-radius: 20px;
  }
}
