.BookingDetails {
  padding: 1rem;
  align-items: center;
  box-shadow: 0 0 4px rgba($color: #242424, $alpha: 0.3);
  border-radius: 2px;
  display: flex;
  flex-direction: column;

  .checkIn,
  .checkOut {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    font-size: 16px;
    padding: 5px;
    text-align: center;
  }

  .stay {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px 0;
    @media screen and (min-width: 768px) {
      .wrapper {
        justify-content: space-between;
      }
    }

    .checkIn {
      padding-right: 10px;
      border-right: 1px solid lightgrey;
    }
  }
}
