.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  .scoreHotel {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .container {
    display: flex;
    gap: 1rem;
    overflow: hidden;
    overflow-x: scroll;
  }
  .card {
    border: 1px solid gray;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    min-width: 300px;
    max-height: 300px;
    border-radius: 15px;
    padding: 1rem;
  }
  .userReview {
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: row;
  }
  .cardReviews {
    display: flex;
    flex-direction: column;
  }
}

.review {
  background-color: #007bb5;
  border-radius: 30px;
  padding: 7px;
  margin-right: 10px;
}
