.sectionHotelSicily {
  padding: 20px;

  .List {
  }

  .Div {
    margin: 0;
    display: flex;
    overflow: scroll;
    justify-content: flex-start;
    gap: 10px;
  }

  .DivImg {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  .sectionHotelSicily {
    .List {
      padding: 50px 200px;

      p {
        padding: 10px 110px;
      }
    }

    .Div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: justify;
    }
  }
}
