.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 3rem;

  .errorMessage {
    p {
      color: red;
    }
    height: 1rem;
  }

  h2 {
    text-align: center;
    padding: 1rem 0;
  }

  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    input {
      padding: 7px 16px;
      border-radius: 4px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
      border: 0.2px solid rgba(36, 36, 36, 0.165);
      width: 360px;
      height: 40px;
      outline: none;
    }

    .user {
      h4 {
        padding-bottom: 10px;
      }

      input[type="text"]:focus {
        border: 2px solid #006ce4;
      }
      input[type="password"]:focus {
        border: 2px solid #006ce4;
      }

      .error {
        border: 2px solid red;
      }
    }

    input[type="submit"] {
      background: #006ce4;
      color: white;
      font-weight: bold;
      font-size: large;
      padding: 5px 37px;
      width: 360px;
      height: 50px;
      cursor: pointer;
      &:hover {
        transition: all 0.3s ease;
        background: #003580;
      }
    }
  }
}
