@import "./variables.scss";

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
}

a {
  color: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}
