@import "./variables.scss";

.main {

.SearchAndGalleryWrapper {
  display: flex;
  flex-direction: column-reverse;
  
  @media screen and (min-width: 992px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
}