@import "./variables.scss";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
  padding-top: 3rem;
   h2{
    text-align: center;
    padding: 1rem 0;
   }
  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    
    input {
      padding: 7px 16px;
      border-radius: 4px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
      border: 0.2px solid rgba(36, 36, 36, 0.165);
      width: 360px;
      height: 40px;
      outline: none;
    }

    .user{
      h4{
        padding-bottom: 10px;
      }
      
      input[type=text]:focus {
        border: 2px solid #006ce4;
      }
      input[type=password]:focus {
        border: 2px solid #006ce4;
      }
    }

    input[type="submit"] {
      background: #006ce4;
      color: white;
      font-weight: bold;
      font-size: large;
      padding: 5px 37px;
      width: 360px;
      height: 50px;
      &:hover{
        transition: all 0.3s ease;
        background: #003580;
      }
    }
  }

  .copyright {
    border-top: 0.5px solid #868686;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 9pt;
    color: rgb(39, 39, 39);
    width: 360px;
    p{
      padding-bottom: 20px;
    }
  }

  .other{
    border-top: 0.5px solid #868686;
    border-bottom: 0.5px solid #868686;
    width: 360px;
    padding-top: 20px ;

  }
}
