.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 1rem;

    .form{

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        input{
            
            padding: .4rem 1rem;
            border-radius: 1rem;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
            border: .2px solid rgba(36, 36, 36, 0.165);
            
        }
        input[type=submit]{
            
            background: #003580;
            color: white;
            padding: .4rem 2.3rem;

        }

        
    }
}