//Primary Color
$dark-blue: rgb(0, 53, 128);
$blue: rgb(0, 51, 153);
$yellow: rgb(254, 187, 2);

//Other Color
$white: rgb(245, 245, 245);
$black: rgb(33, 33, 33);
$light-gray: rgb(231, 231, 231);
$blue-button: rgb(0, 113, 194);

//Border
$border-card: 1px solid rgb(231, 231, 231);
$border-radius-botton: 2px;

//Font
$font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;

//Responsive
$breakpoints: (
  mobile: 568px,
  tablet: 767px,
  desktop: 992px,
);
