@import "/src/styles/variables.scss";

.select {
  padding: 10px 15px;
  border: 1px solid $blue-button;
  color: $blue-button;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  background-color: #fff;

  .options {
    color: black;
    line-height: 50px !important;
    padding: 300px;

    &:hover {
      background: lightgrey !important;
    }
  }
}
