.modalBackground {
  width: 200px;
  height: 150px;
  background-color: #febb02;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  .modalContainer {
    width: 80%;
    height: 60%;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    padding: 2px;
  }
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
}
.closeBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
