@import "/src/styles/variables.scss";
.Info {
  background-color: #007cb567;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;

  .reserveBtn {
    background-color: $blue;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    padding: 10px;
  }
}
