@import "/src/styles/variables.scss";
.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  padding: 1rem;
  box-shadow: 0 0 4px rgba($color: #242424, $alpha: 0.3);
  .Top {
    padding: 0.8rem 0;
    text-align: center;
  }

  .FormReservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;

    h4 {
      margin-top: 1rem;
    }
    @media screen and (min-width: 1024px) {
      width: 500px;
    }
  }

  label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  input[type="text"] {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    box-shadow: 0 0 4px rgba($color: #242424, $alpha: 0.3);
  }
  input {
    border-radius: 2px;
    padding: 2px 8px;
    &:focus {
      outline: 2px solid $blue-button;
    }
  }

  .ModalCheckOut {
    display: flex;
    align-items: flex-end;
  }

  select {
    padding: 10px;
    font-size: 12pt;
    box-shadow: 0 0 4px rgba($color: #242424, $alpha: 0.3);
    outline: none;
    border: none;
    &:focus {
      outline: 2px solid $blue-button;
    }
  }
}
