@import "@/styles/variables.scss";

.section {
  padding: 30px 40px;

  p {
  }

  .Hotels {
    border: 1px solid black;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: scroll;

    .infoHotel {
      height: 300px;
      width: 200px;
      border: 1px solid red;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    img {
      display: flex;
      object-fit: cover;
      width: 100px;
      height: 100px;
    }

    .data {
      border: 1px solid greenyellow;
      height: 50px;
      width: 200px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .review {
      background-color: #007bb5;
      border-radius: 30px;
      padding: 7px;
      margin-right: 10px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .section {
    .Hotels {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
