@import "@/styles/variables.scss";

.HotelList {
  padding: 30px 16px;

  .container {
    position: relative;
    overflow: visible;

    .hotelContainer {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      overflow: hidden;
      overflow-x: scroll;
      scroll-behavior: smooth;
      gap: 20px;

      &::-webkit-scrollbar {
        height: 7px;
        background-color: transparent;
        border-radius: 5px;
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #007bb5;
      }

      .cardHotel {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: left;

        img {
          object-fit: cover;
          height: 210px;
          width: 260px;
          padding-bottom: 10px;
          cursor: pointer;
          /*-webkit-filter: grayscale(0);
          filter: grayscale(0);
          &:hover {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
          }*/
        }

        .scoreContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .score {
          background-color: $blue;
          color: $white;
          width: fit-content;
          border-radius: 5px 5px 5px 0px;
          padding: 5px;
          margin-top: 2px;
        }

        .review {
          padding: 5px;
          font-size: 14px;
        }
      }
    }
  }
  
    .arrowLeft {
    cursor: pointer;
    opacity: 1;
    pointer-events: all;
    border-radius: 50%;
    visibility: visible;
    border: none;
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 30%;
    left: -20px;
  }

  .arrowRight {
    cursor: pointer;
    opacity: 1;
    pointer-events: all;
    border-radius: 50%;
    visibility: visible;
    border: none;
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 30%;
    right: -20px;
  }
}
