@import "../../styles/variables.scss";

.Container {
  display: flex;
}

.SearchWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .LeftSection {
    width: 100%;
  }

  .RightSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;

    .ResultWrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .HeaderWrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0 16px;

        .headerTitle {
          text-align: center;
        }
      }
      .cardContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}

.Card {
  border: 1px solid $light-gray;
  padding: 8px;
  background-color: white;
  display: flex;
  gap: 8px;

  .CardImage {
    border-radius: 4px;
    width: 140px;
    height: 240px;
    object-fit: cover;
    object-position: center;
  }

  .CardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    flex: 1;

    h4 {
      font-size: 14px;
    }

    p {
      font-size: 10pt;
      padding: 8px 0;
    }

    .CardDetailedInfo {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .CardButton {
        background: $blue-button;
        border: none;
        border-radius: 6px;
        color: white;
        padding: 8px 12px;
        cursor: pointer;
      }
      .CardButton:hover {
        background-color: $blue-night;
      }
    }
  }
}

/*.Card {
  border: 1px solid rgba($color: #242424, $alpha: 0.1);
  display: flex;
  border-radius: 2px;
  gap: 1rem;

  .CardImage {
    border-radius: 2px;
    object-fit: cover;
  }

  .CardWrapper {
    .sectionOne {
      display: flex;
      flex-direction: column;
    }
  }
  .CardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    flex: 1;

    h4 {
      color: #0053c7;
    }

    p {
      font-size: 10pt;
      padding: 8px 0;
    }

    .CardDetailedInfo {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .CardButton {
        background: #003580;
        border: none;
        border-radius: 6px;
        color: white;
        padding: 8px 12px;
        cursor: pointer;
      }
      .CardButton:hover {
        background-color: #003580;
      }
    }
  }
}*/

@media screen and (min-width: 800px) {
  .SearchWrapper {
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding-top: 20px;

    .LeftSection {
      width: 300px;
    }

    .RightSection {
      gap: 0;
      justify-content: center;
      width: 70%;

      .ResultWrapper {
        display: flex;
        flex-direction: column;
        padding: 0px 16px;
        gap: 8px;

        .HeaderWrapper {
          display: flex;
          flex-direction: column;
          gap: 16px;
          padding: 0;

          .headerTitle {
            text-align: left;
          }
        }

        .cardContainer {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 8px;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .Card {
    flex-direction: row;
    width: 100%;

    .CardWrapper {
      display: flex;
      flex-direction: column;
    }

    .SectionOne {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 1045px) {
  .Card {
    flex-direction: row;
    width: 49%;
    min-width: 345px;

    .CardWrapper {
      display: flex;
      flex-direction: column;
    }

    .SectionOne {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
