@import "../../styles/variables.scss";

.Container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.SearchWrapper {
  padding: 2rem 0;
  display: flex;
  max-width: 1024px;
  flex-direction: column;
  gap: 2rem;

  .LeftSection {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    .Filter {
      min-width: 200px;
    }
    @media screen and (min-width: 768px) {
      width: 300px;
    }
  }
  .RightSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    min-width: 200px;

    select {
      padding: 10px 20px;
      border: 1px solid $blue-button;
      color: $blue-button;
      outline: none;
      border-radius: 20px;
      font-weight: bold;
      background-color: #fff;
      .options {
        color: black;
        line-height: 50px !important;
        padding: 300px;

        &:hover {
          background: lightgrey !important;
        }
      }
    }
    .ResultWrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    .RightSection {
      width: 700px;
    }
  }
}

.Card {
  border: 1px solid black;
  display: flex;
  padding: 1rem;
  border-radius: 4px;
  gap: 1rem;

  .CardImage {
    border-radius: 4px;
    object-fit: cover;
  }
  .CardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    flex: 1;

    .CardWrapper {
      // outline: 1px solid #24242423;
    }
    .CardDetailedInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .CardButton {
      background: #003580;
      border: none;
      border-radius: 6px;
      color: white;
      padding: 8px 12px;
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
}
/* @media screen and (min-width: 768px) {
  .Card {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 4px;
    gap: 1rem;
    justify-content: space-between;
    .CardImage {
      border-radius: 4px;
    }
    .CardInfo{
      flex-direction: row;
      
    .CardWrapper {
    }
    .CardDetailedInfo {
      flex-direction: column;
      padding: 0.5rem;
      justify-content: space-between;
    }
    .CardReviews {
      padding: 0.5rem;
      justify-content: space-between;
      .ReviewsWrapper {
        font-size: 12px;

        flex-direction: column;
      }
      .ReviewScore {
        background-color: blue;
        color: white;
        border-radius: 4px 4px 4px 0;
        padding: 2px;
      }
    }
    
    }
  }
}
 */
