@import "/src/styles/variables.scss";

.main {
  padding: 16px;

  h2 {
    font-size: 20px;
  }
  p {
    padding-top: 10px;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
  button {
    border: none;
    background-color: transparent;
    text-align: left;
    width: fit-content;
    color: $blue-button;
    font-weight: bold;
  }
}
