.Header {
  background: #003580;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  .headerWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: transparent;
    color: #fafafa;
  }

  .desktopWrapper {
    display: none;
  }
  .mobileIcons {
    gap: 2rem;
    font-size: 1.3rem;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .Header {
    .headerWrapper {
      max-width: 1024px;
    }
    .desktopWrapper {
      display: flex;
      gap: 2rem;
      padding: 0.4rem;

      .Login {
        display: flex;
        gap: 1rem;
      }
      .otherBtns {
        display: flex;
        gap: 1rem;
      }
    }
    .mobileIcons {
      display: none;
    }
  }
}
