@import "@/styles/variables.scss";

.Header {
  background: $blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $white;
  padding: 16px;
  height: 143px;

  .headerTop {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: $white;
    padding-bottom: 12px;

    .userSection {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;

      .userCurrency {
        display: none;
      }

      .userLanguage {
        border-radius: 50%;
        width: 24px;
        height: fit-content;
      }

      .mobileBtnsLogin {
        display: block;
        margin-right: -11px;
      }

      .desktopBtnsLogin {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .Header {
    height: 124px;

    &:before {
      content: "";
      background-color: $blue;
      position: absolute;
      height: 124px;
      width: 4000px;
      left: -2000px;
      z-index: -1;
    }

    .headerLogo {
      padding-left: 15px;
    }
    .userCurrency {
      display: block !important;
    }

    .mobileBtnsLogin {
      display: none !important;
    }

    .desktopBtnsLogin {
      display: block !important;
    }
  }
}
