.Navbar {
  padding: 8px 16px;

  ul {
    margin: 0;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    gap: 5px;

    &::-webkit-scrollbar {
      height: 5px;
      background-color: transparent;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #007bb5;
    }

    li {
      display: flex;
      flex-wrap: nowrap;
      font-size: 18px;
      font-weight: 500;
      margin-right: 5%;
      align-items: center;
      gap: 10px;
      color: white;
      fill: white;
      cursor: pointer;
      white-space: nowrap;
    }

    li.active {
      border: 1px solid white;
      padding: 15px 25px;
      border-radius: 30px;
      background-color: rgb(255, 255, 255, 0.1);
    }
    svg {
      display: inline-block;
      height: 100%;
      vertical-align: top;
      width: auto;
    }
  }
}
