@import "@/styles/variables.scss";

.Navbar {

  ul {
    padding: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    gap: 5px;

    &::-webkit-scrollbar {
      height: 5px;
      background-color: transparent;
      border-radius: 5px;
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #007bb5;
    }

    li {
      display: flex;
      flex-wrap: nowrap;
      font-size: 14px;
      margin-right: 3%;
      //padding: 11px 16px;
      align-items: center;
      gap: 10px;
      color: white;
      cursor: pointer;
      white-space: nowrap;
    }

    li.active {
      border: 1px solid white;
      padding: 11px 16px;
      border-radius: 30px;
      background-color: rgb(255, 255, 255, 0.1);
    }
    .svg {
      display: inline-block;
      filter: invert(1);
    }
  }
}

@media screen and (min-width: 992px) {
  .Navbar {
    .svgIcons {
      height: 20px;
      width: auto;
    }
  }
}