$gallery-width: 800px;

.Gallery {
  display: none;
  overflow: hidden;
  max-width: $gallery-width;

  img {
    object-fit: cover;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.GalleryTop {
  display: flex;
  padding: 8px 0px 8px 8px;
  gap: 0.5rem;
  height: 450px;

  .GalleryTopWrapper {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .GalleryWrapperTopImg,
    .GalleryWrapperBottomImg {
      height: 49%;
    }
  }

  .GalleryTopImg {
    width: 70%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.GalleryBottom {
  padding: 8px;
  padding-top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  overflow: hidden;
  gap: 0.5rem;
  
  .GalleryBottomImg {
    height: 100%;
    width: calc(($gallery-width - 3rem) / 5);
  }
}
