@import "@/styles/variables.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: central;
  align-items: center;
  text-align: center;

  .titleTeam {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    p {
      margin-top: 10px;
    }
  }
  .photos {
    padding: 10px;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    @media screen and (min-width: 568px) {
      gap: 30px;
    }

    .div {
      display: flex;
      flex-direction: column;
      transition: all 0.4s ease;
    }

    .icons {
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      transition: all 0.4s ease;
      padding-top: 10px;
    }

    .div:hover {
      .icons {
        opacity: 1;
        color: #003580;
      }
    }
    img {
      margin: 1px;
      display: flex;
      justify-content: center;
      border-radius: 100%;
      box-shadow: 0 0 5px #242424;
      width: 125px;
      height: 125px;
      border: none;

      @media screen and (min-width: 568px) {
        width: 150px;
        height: 150px;
      }
    }
  }
  .moreInfo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    button {
      background: #0071c2;
      color: whitesmoke;
      font-size: 1.1rem;
      border-radius: 40px;
      border: none;
      width: 150px;
      height: 40px;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        background: #003580;
      }
    }
  }
}
