.main {
  display: flex;
  justify-content: center;
  padding: 0;

  a {
    font-weight: bolder;
    cursor: pointer;
  }

  .container {
    padding: 0;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;

    .title {
      padding-top: 30px;
      flex-direction: column;
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      text-align: center;

      .imgCasi {
        margin: 20px;
        border-radius: 100%;
      }

      h1 {
      }
    }
    .description {
      padding: 50px 70px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100vw;
      background-color: #24242412;

      .titleDescription {
        display: flex;
        justify-content: center;
        color: black;
      }
      .miniDescription {
        display: flex;
        font-size: 12pt;
        gap: 10px;

        p {
          text-align: start;
        }
      }

      .titleTeam {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .container {
    .description {
      padding: 50px 80px;
    }
  }
}
