.main {
  display: flex;
  justify-content: center;
  padding-top: 32px;

  a {
    font-weight: bolder;
    cursor: pointer;
  }

  .container {
    padding: 0;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;

    .title {
      padding-top: 30px;
      flex-direction: column;
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      text-align: center;
      
      :first-child {
        color: #003580;
      }

      .imgCasi {
        margin: 20px;
        border-radius: 100%;
      }

      h1 {
      }
    }
    .description {
      padding: 32px 16px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100vw;
      background-color: #24242412;

      .titleDescription {
        display: flex;
        justify-content: center;
        text-align: center;
        color: black;
      }
      .miniDescription {
        display: flex;
        margin: 0 auto;
        font-size: 12pt;
        gap: 10px;
        max-width: 1110px;

        p {
          text-align: start;
        }
      }

      .titleTeam {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .container {
    .description {
      padding: 100px 70px !important;
    }
  }
}
