@import "@/styles/variables.scss";

.Footer {
  .blue {
    background-color: $blue-night;
    height: 225px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .description {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 10px;
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    input {
      border-radius: 5px;
      width: 160px;
      height: 50px;
      padding: 10px;
      border: none;
      font-size: 20px;
    }

    .mail {
      width: 300px;
      color: $black;
      border: none;
      font-size: 20px;
    }

    .submit {
      background-color: #0071c2;
      color: $white;
    }

    .submit:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 105, 0.429);
    }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
    font-size: 10pt;
    color: rgb(39, 39, 39);
  }

  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 20px;
  }
}
