@import "@/styles/variables.scss";

.ModalInput {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  background-color: $white;
  width: 91.5%;
  z-index: 5;
  position: fixed;
  top: 218px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);

  .wrapperLabel {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    position: relative;
    background-color: $white;
    overflow: hidden;
    padding: 0 8px;

    .label {
      display: flex;
      background-image: url(../../../public/map.svg);
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: 8px 50%;
      cursor: pointer;
      padding-left: 40px;
      min-height: 50px;
      align-items: center;

      &:not(:last-child) {
        border-bottom: 3px solid $white-gray;
      }

    }
  }
}

@media screen and (min-width: 568px) {
  .ModalInput {
    width: 350px;
    height: 250px;
    position: absolute;
    left: auto;
    right: 0;
    top: 170px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.24);

    .wrapperLabel {
      width: 350px;
    }
  }
}

@media screen and (min-width: 992px) {
  .ModalInput {
    position: absolute;
    left: auto;
    left: 5px;
    top: 60px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.24);

    .wrapperLabel {
      width: 350px;
    }
  }
}
