@import "@/styles/variables.scss";

.ModalCheckOut {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s;
  animation: fadeIn 1s;
  z-index: 1;
  height: 100vh;
  width: 100vw;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(63, 63, 63, 0.8);
    z-index: -1;
  }

  .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 350px;
    background: rgb(0, 113, 194);
    color: white;
    padding: 10px;
    gap: 3rem;
    border: 16px solid $yellow;

    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.5rem;
      border-radius: 50%;
      padding: 4px;

      cursor: pointer;
      &:hover {
        background: white;
        color: rgb(0, 113, 194);
      }
    }

    .text {
      position: absolute;
      text-align: center;
      top: 30%
    }

    button {
      position: absolute;
      bottom: 20px;
      background-color: $white;
      color: $blue-button;
      padding: 6px 14px;
      font-size: 14px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
