@import "@/styles/variables.scss";

.FormSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;

  .wrapper {
    border-radius: 2px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    background: $yellow;
    padding: 20px;
    position: relative;

    .Title {
      align-self: flex-start;
    }

    input {
      outline: none;
      cursor: pointer;
    }

    input[type="search"] {
      height: 50px;
      width: 100%;
      border: none;
      border-radius: 2px;
      padding: 4px;
      background-image: url(../../../public/soggiorni.svg);
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 12px 50%;
      padding-left: 50px;
      &:hover {
        outline: 0.3px solid #ff8000;
      }
    }

    input[type="date"] {
      height: 50px;
      width: 100%;
      border: none;
      border-radius: 2px;
      padding: 4px;
      background-image: url(../../../public/calendar.svg);
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 12px 50%;
      padding-left: 50px;
      &:hover {
        outline: 0.3px solid #ff8000;
      }
    }

    .openModalFormBtn {
      background-color: white;
      height: 50px;
      width: 100%;
      border: none;
      border-radius: 2px;
      background-image: url(../../../public/arrowbottom.svg),
        url(../../../public/occupancy.svg);
      background-size: 20px;
      background-position: top 50% right 16px, top 50% left 16px;
      background-repeat: no-repeat;
      backdrop-filter: invert(1);
      padding: 0 50px;
      &:hover {
        outline: 0.3px solid #ff8000;
      }
    }

    input[type="submit"] {
      width: 100%;
      background: $blue-button;
      border-radius: 2px;
      border: none;
      color: white;
      font-size: medium;
      height: 50px;
      transition: all 0.2s ease;
      &:hover {
        background: $dark-blue;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .FormSearch {
    padding: 0.5rem;
    .wrapper {
      .wrapDate {
        flex: 1;
        gap: 1rem;
      }
    }
  }
}
