@import "@/styles/variables.scss";

.Filter {
  .ulHotels {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0px;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blue;
    width: auto;
    height: 45px;
    border-radius: 30px;
  }
  .toggleOn {
    background-color: $white-gray;
    outline: 2px solid $blue;
  }
}

@media only screen and (min-width: 568px) {
  .Filter {
    .ulHotels {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: left;
      gap: 10px;
      padding: 20px 0px;
    }
  }
}
