@import "/src/styles/variables.scss";
.main {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  justify-content: space-between;
  .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    button {
      padding: 8px 12px;
      color: white;
      background: $blue-button;
      border: none;
      border-radius: 2px;
    }
    i {
      color: $blue-button;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
    }
  }
}
