@import "@/styles/variables.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: central;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  .titleTeam {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid #00358090;

    .colorBlue {
      color: #003580;
    }
  }
  .container {
    border: 1px solid red;
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow: hidden;
    justify-content: left;
    gap: 20px;

    @media screen and (min-width: 767px) {
      flex-direction: row;
      gap: 50px;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 992px) {
      gap: 50px;
    }
    .containerMember {
      display: flex;
      flex-direction: column;

      .photos {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          width: 150px;
          height: 150px;
          display: flex;
          border: 0;
          background: #003580;
          justify-content: center;
          align-items: center;
          border-radius: 100px;
          cursor: pointer;
        }
        button:hover {
          transform: scale(1.1);
        }
        img {
          margin: 1px;
          display: flex;
          gap: 10px;
          width: 150px;
          height: 150px;
          border: none;
          border-radius: 100px;
        }
      }

      .nameMember {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .figureMember {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
      }
    }
  }
  .moreInfo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .memberDescription {
    margin: 50px 0;
    padding-bottom: 50px;
    width: 80vw;

    background-color: gainsboro;

    gap: 10px;
    @media screen and (min-width: 767px) {
      justify-content: space-between;
      display: none;
    }

    .textDescription {
      text-align: left;
      display: flex;
      padding-left: 30px;
      flex-direction: column;
      padding: 0 30px;
      gap: 15px;
      .nameMemberState {
      }
    }
    .links {
      display: flex;
      gap: 15px;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      padding-top: 10px;
      @media screen and (min-width: 767px) {
        display: none;
      }
    }
  }
  .off {
    display: none;
  }

  .memberDescription_2 {
    display: none;
    @media screen and (min-width: 767px) {
      justify-content: space-between;
      margin: 50px 0;
      padding-bottom: 50px;
      width: 80vw;
      background-color: gainsboro;
      gap: 10px;
      display: block;
    }
    .links2 {
      display: none;
      @media screen and (min-width: 767px) {
        display: block;
        display: flex;
        gap: 15px;
        font-size: 30px;
        padding-top: 10px;
        padding-right: 60px;

        text-align: end;
        justify-content: flex-end;
      }
    }

    .textDescription2 {
      display: none;
      @media screen and (min-width: 767px) {
        display: block;
        text-align: left;
        display: flex;
        padding: 0 30px;
        gap: 15px;
        flex-direction: column;
      }
    }
  }
}
