@import "@/styles/variables.scss";

.main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: central;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 80px;
  .titleTeam {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-bottom: 100px;
    border-bottom: 1px solid #00358090;

    .colorBlue {
      color: #003580;
    }
  }
  .container {
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-bottom: 40px;
    justify-content: left;
    gap: 20px;

    @media screen and (min-width: 1000px) {
      justify-content: center;
      gap: 50px;
    }
    .containerMember {
      height: 250px;
      display: flex;
      flex-direction: column;

      .photos {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          width: 150px;
          height: 150px;
          display: flex;
          border: 0;
          background: #003580;
          justify-content: center;
          align-items: center;
          border-radius: 100px;
          cursor: pointer;
          @media screen and (min-width: 767px) {
            border-radius: 100px;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        img {
          margin: 1px;
          display: flex;
          gap: 10px;
          width: 150px;
          height: 150px;
          border: none;
          border-radius: 100px;
        }
      }

      .nameMember {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .figureMember {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
      }
    }
  }

  .memberDescription {
    width: 100vw;
    height: 300px;
    background-color: #24242412;
    padding: 10px 30px;
    @media screen and (min-width: 600px) {
      justify-content: space-between;
      width: 100vw;
      height: 180px;
      padding: 10px 80px;
    }

    .textDescription {
      text-align: left;
      display: flex;
      flex-direction: column;
      padding: 0 30px;
      gap: 10px;
      @media screen and (min-width: 767px) {
        display: block;
        text-align: left;
        display: flex;
        padding: 0 30px;
        gap: 10px;
        flex-direction: column;
      }
      .nameMemberState {
      }
    }
    .links {
      display: flex;
      gap: 15px;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      padding-top: 10px;
      @media screen and (min-width: 767px) {
        display: block;
        display: flex;
        gap: 15px;
        font-size: 30px;
        padding-top: 10px;
        padding-right: 60px;

        text-align: end;
        justify-content: flex-end;
      }
    }
    .off {
      display: none;
    }
  }
}
